/* ALL COMPONENT STYLES */


/* NAVBAR STYLES */

.fa-bars-open {
  background-color: red;
}

/* LANDING PAGE STYLES */

.landing-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* QUOTES STYLES */

.quotes-grid-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 95vw;
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
}
.quotes-grid-item {
  display: flex;
  flex-direction: column; 
  max-height: 100%;
  max-width: 33%; 
  margin-left: auto;
  margin-right: auto;
  border: solid black 2px;
}
/* .quotes-grid-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: auto;
  height: 30%;
} */
/* .quotes-grid-content {
  margin-left: auto;
  margin-right: auto;
  width: 70;
  overflow: scroll;
} */

/* MEDIA QUERIES */






