/* ALL COMPONENT STYLES */


/* NAVBAR STYLES */

.fa-bars-open {
  background-color: red;
}

/* LANDING PAGE STYLES */


/* QUOTES STYLES */

.quotes-grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  /* display: block;
  width: 1250px; */
}

.quotes-items-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.quotes-grid-image {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
/* MEDIA QUERIES */






