/* ALL COMPONENT STYLES */

.font-huge-light {
  font-size: 7em;
}
.font-large-light {
  font-size: 3em;
}
.font-size-light {
  font-size: 1.15em;
}
.font-size-minus-light {
  font-size: 1em;
}
.font-size-plus-light {
  font-size: 1.6em;
}
.button-light {
  background-color: #4DAAF6;
  border: solid black 3px;
  border-radius: 10px;
}
.button-light:hover {
  background-color: #79BFF8;
  cursor: pointer;
}
.cursor-select {
  cursor: pointer;
  opacity: .70; 
}

/* LOGIN STYLES */

.login-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
}
.login-greeting {
  font-size: 4em;
}
.login-button {
  font-size: 24px;
  height: 60px;
  width: 200px;
}

.login-background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #44444C;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

/* NAVBAR STYLES */

.bm-menu-wrap {
  left: 0;
}
.bm-overlay {
  left: 0;
}
.bm-burger-button {
  position: fixed;
  width: 40px;
  height: 30px;
  left: 20px;
  top: 20px;
}
.bm-burger-bars {
  background: #FFFFFF;
}
.bm-cross-button {
  height: 30px;
  width: 30px;
}
.bm-cross {
  background: #FFFFFF;
}
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
.bm-item-list {
  color: #FFFFFF;
  padding: 0.8em;
}
.bm-item {
  display: inline-block;
  padding-bottom: .65em;
}
.settings-item-spread {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.settings-item-select {
  background-color: #4DAAF6;
}
.hide-timer {
  display: none;
}
.focus-timer-container {  /* Theme */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  right: 0;
  margin: 12px;
  height: 60px;
  width: 70px;
  border: solid black 6px;
  border-radius: 10px;
  background-color: #373A47;
  color: #FFFFFF;
}

/* LANDING PAGE STYLES */

.landing-main { /* theme */ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white
}
.landing-quote { /* theme */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  padding: 75px;
  bottom: 0;
  margin-bottom: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  background: linear-gradient(rgba(10, 10, 10, 0.20), transparent, rgba(10, 10, 10, 0.20));
  z-index: -1;
}
.todo-spread {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.get-inspired {
  height: 80px;
  width: 289px;
  font-size: 2em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  margin-bottom: 16vh;
  margin-right: auto;
  margin-left: auto;
}

/* QUOTES STYLES */
.home-button-center {
  display: flex;
  justify-content: center;
  width: 55px;
  margin-right: auto;
  margin-left: auto;
  background-color: #4DAAF6;
  border: solid black 3px;
  border-radius: 15px;
}
.quotes-container-background {
  background-color: #44444C;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}
.quotes-grid-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 95vw;   /* flex-wrap causing this to show 2 images wide when window width compressed */
  /* max-height: 25vh; CHANGE THIS IF NAVBAR/HEADER */
  margin-left: auto;
  margin-right: auto;
}
.quotes-grid-item {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  max-height: 100%;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  border: solid black 2px; /* remove */
  position: relative;
}
.quotes-grid-image {
  display: flex;
  width: 90%;
  height: 90%;
  border: solid black 5px;
  border-radius: 80px;
}
.quotes-grid-text { /* theme */
  position: absolute;
  bottom: 15%;
  width: 78%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  z-index: 1;
  color: white;
}

/***********   MODAL STYLES ***********/
.styles_modal__gNwvD { /* PARENT MODAL CONTAINER */
  background-color: transparent;
  max-width: 1200px;
}

.modal-image-cont {
  display: block;
  height: 95vh;
  position: relative;
}
.modal-image {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  border: solid black 5px;
  border-radius: 80px;
}
/* .modal-cover-image {
  position: absolute;
  display: flex;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  height: 99%;
  margin-top: 0.5%;
  border-radius: 80px;
} */
/* .modal-quote { 
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.9em;
  background: linear-gradient(rgba(10, 10, 10, 0.20), transparent, rgba(10, 10, 10, 0.20));
  background-size: cover;
  color: white;
} */
.modal-comment {
  display: none;
}
.modal-comment-active {
  position: relative;
  right: 0;
  display: block;
}

/********** FONT-AWESOME BUTTONS **********/


.fa-cog { /* theme */
  padding-top: 10px;
  font-size: 2em;
  color: #888888;
}
.fa-cog:hover {
  color: #FFFFFF;
}
.fa-home {
  font-size: 3em;
  color: black;
}
.fa-heart {
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: transparent;
}
.fa-heart-beat {
  font-size: 9em;
  color: rgb(255, 54, 74);
  transition: color 400ms linear 0s;
}
.fa-edit {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* MEDIA QUERIES */